#container {
  border: 1px solid #ccc; height: 100px; overflow: scroll; width: 100px;
}



#myDIV {
    height: 500px;
    width: 2000px;
    overflow: auto;
}

#content {
    height: 800px;
    width: 2000px;
    background-color: coral;
}
